<h1>ショッピングカート</h1>

 <%= form_with model: item_cart do |f| %>
  <p>商品名</p>
    <%= f.text_field :title, size: "15", border: "1px solid-gray" %>
  <p>Opinion</p>
    <%= f.text_area :body, size: "18" %>
  <%= f.submit 'Create Book', class:"btn btn-success mt-3" %>
 <% end %>