@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

/*フォント導入関連記述*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li{
  list-style: none;
  margin-right: 20px;
}

.actions{
  padding-left: 120px;
}
h5{
  margin-top: 5px;
}

/*fontデザイン*/
header, h1, nav, .list-comment {
  font-family: 'Kaushan', cursive, sans-serif;
}

.navbar-brand{
  font-size: 25px;
  border: solid black;
  border-radius: 50%; /*正円+角丸*/
  border-radius: 3px;
  padding: 10px 50px ;
}

header {
  width: 100%;
  padding: 15px 0;
  margin: 15px auto 0;
  text-align: center;
  border-top: solid 5px #000000;
  list-style: none;
}

main {
  width: 100%;
  padding: 15px 0;
  margin: 15px auto 0;
  border-top: solid 5px #000000;
}

footer {
  width: 100%;
  padding: 15px 0;
  margin: auto 0;
  text-align: center;
  border-top: solid 5px #000000;
}

h3 {
  margin-left: 30px;
  margin-bottom: 15px;
}

.new{
  margin: auto 0;
  padding-bottom: 10px;
  text-align: left;
}
/*admin*/

.page-title{
  padding-left: 15px;
}

.order-show {
  justify-content: center;
}
.order-show-sum {
  margin-top: 300px;
  padding-right: 10px;
}

/*public*/

.p-log-in{
  padding-top: 5px;
}

.welcome{
  border: solid black;
  border-radius: 50%; /*正円+角丸*/
  border-radius: 3px;
  padding: 10px 0 ;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: 120px;
  left: 100px;
}

.top-image{
  height: 400px;
  position: relative;
  background-color: rgba(255,255,255,0.7);
}

.item-top {
  display: inline-block;
  flex-wrap: no-wrap;
  justify-content: flex-start;
}

.about{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

/*新規登録*/
.s-title{
  padding-right: 15px;
}

/*商品一覧*/
.item-index{
  width: 100%;
  display: inline-block;
  flex-wrap: wrap;
  flex-basis: auto;
  text-align: left;
}

.font-d{
  font-size: 25px;
}
.font{
  font-size: 15px;
}

/*商品詳細*/
.image-show{
  margin: 5 auto 0;
}
.item-show{
  padding-left: 5px;
}

/*カート*/
.link{
  display: block;/*span*/
  justify-content: space-between;
}

.link-right{
  margin-left: 75%;
  margin-bottom: 40px;

}
.margin{
  margin-left: 40%;
}

.margin-2{
  margin-left: 200px;
}

/*情報入力*/
.label{
  margin-right: 22%;
}
.label-2{
  margin-right: 20%;
}
/*確認画面*/
.radio_button{
  margin-left: 30px;
}
.radio_body{
  margin-left: 50px;
}

/*confirm*/
/*complete*/
.complete{
  text-align: center;
  margin: 25% auto;
}

/*退会*/
.follow{
  text-align: center;
}
/*top*/
.link-2{
  text-align: right;
}

/*public order-index*/